{% load static %}

<div class="movie">
    <img src={{movie.cover_img.url}} alt="Movie Cover">
    <div class="movie-details">
        <h6 class="title">{{movie.title}}</h6>
        <div class="font-sans-serif btn-reveal-trigger position-static ">
            <button class="list-change-button btn btn-sm dropdown-caret-none transition-none btn-reveal fs--2"
                type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                aria-expanded="false" data-bs-reference="parent">
                <svg class="" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.0049 16.005L12.0049 15.995" stroke="#323232" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M12.0049 12.005L12.0049 11.995" stroke="#323232" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M12.0049 8.005L12.0049 7.995" stroke="#323232" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path
                        d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                        stroke="#323232" stroke-width="2" />
                </svg>
            </button>
            <form action="/" method="post">
                <div class="dropdown-menu dropdown-menu-end py-2" style="">
                    <a class="dropdown-item" href="#">Currently Watching</a>
                    <a class="dropdown-item" href="#">On Hold</a>
                    <a class="dropdown-item" href="#">Plan to Watch</a>
                    <a class="dropdown-item" href="#">Completed</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="#">Remove from Watchlist</a>
                </div>
            </form>
        </div>
        <p class="release-year">Release Year: {{movie.release_year}}</p>
        <p class="duration">Duration: {{movie.duration_in_min}} min</p>
        <p class="imdb-rating">IMDb Rating: {{movie.imdb_rating}}</p>
        <p class="rotten-tomatoes-score">Tomatoes: {{movie.rotten_tomatoes_score}}%</p>
        <div class="tags">
            {% for tag in movie.tags.all %}
            <span class="tag">{{tag}}</span>
            {% endfor %}
        </div>
    </div>
</div>